.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #000;
  padding: 3rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.header .navbar a {
  color: #fff;
  font-size: 2rem;
  margin: 0 2rem;
}
.header .navbar a:hover {
  text-decoration: underline;
  text-underline-offset: 1rem;
  color: #eacf4f;
}
.header .navbar .space {
  display: inline-block;
  width: 16rem;
}

.header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #000;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    display: block;
    margin: 3rem 2rem;
  }
  .header .navbar .space {
    display: none;
  }