/* 
/* ===== HEADER ===== */
/* .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #0a0a0a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 7%;
  z-index: 1000;
} */

